@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Ranchers&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #A0D2DB;
    --pink: #edc6cf;
    --yellow: #F0C808;
    --red: #DE3163;
    --purple: #401aa8;
  }

body {
  margin: 0;
  font-family: 'Ranchers', cursive;
  color: var(--pink);
  text-align: center;
  height: 100%;
  display: grid;
  background: rgb(222,49,99);
  background: linear-gradient(162deg, rgba(222,49,99,1) 52%, rgba(64,26,168,1) 100%);
  
}

h2{
    margin: 0;
    font-weight: 400;
    color: var(--pink);
}
h3{
    margin: 0;
    font-weight: 400;
    text-decoration: underline;
    /* color: var(--yellow); */
    background: linear-gradient(6deg, #F0C808 48%, #edc6cf 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: small;
    color: black;
}

img {
    max-height: 150px;
    margin: auto;
    display: inline-block;
  }

.card {
    display: inline-block;
    width: 300px;
    padding: 1em;
    border-radius: 15px;  
    margin: 10px;
    background: var(--blue);
    text-align: center;
    color: var(--yellow);
}
  
.card__btn {
    background-color: var(--red);
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}

.card__btn:hover{
    border-style: ridge;
    color: white;
    border-color: var(--pink);
    background: linear-gradient(158deg, rgba(222,49,99,1) 25%, rgba(64,26,168,1) 100%);    
}

.card__price{
    margin: 2px;
    background: linear-gradient(160deg, #F0C808 40%, #A0D2DB 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__header{
    margin: 2px;
    background: linear-gradient(14deg, #F0C808 40%, #edc6cf 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cart_div {
    display: inline-block;
    width: 300px;
    padding: 1em;
    border-radius: 15px;  
    margin: 10px;
    background: var(--blue);
    text-align: center;
    color: var(--yellow);
    border-style: solid;
    border-color: var(--red);
}



#cart-head {
    margin: 0;
    font-weight: 400;
    font-size: x-large;
    background: linear-gradient(158deg, rgba(222,49,99,1) 25%, rgba(64,26,168,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cart-price-div{
    border-style: solid;
    border-color: var(--pink);
    margin: 1px;
    padding: 1px;
}

#check-out-btn{
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    color: var(--pink);
    background: linear-gradient(158deg, rgba(222,49,99,1) 25%, rgba(64,26,168,1) 100%);
    border-radius: 5px;
    border-style: none;
}
#check-out-btn:hover{
    color: white;
    background-color: var(--red);
    border-style: ridge;
    border-color: var(--pink);
}

#cart__content li{
    list-style: none;
    margin: 4px;
    padding: 1px;
    color: black;
}

#cart-ul{
    border-style: solid;
    border-color: var(--pink);
    margin: 1px;
    padding: 1px;
}
#cart-ul button{
    margin: 3px;
    padding: 3px;
    color: var(--pink);
    background-color: var(--red);
    border-radius: 5px;
    border-style: none;
}
#cart-ul button:hover{
    border-style: ridge;
    color: white;
    border-color: var(--pink);
    background: linear-gradient(158deg, rgba(222,49,99,1) 25%, rgba(64,26,168,1) 100%);
}




