.modal-bg{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: visibility 0s, opacity 0.5s
}

.modal{
	position: relative;
	background-color: white;
	border-radius: 20px;
	width: 30%;
	height: 30%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.modal h2{
	margin: 0;
    font-weight: 400;
    background: linear-gradient(158deg, rgba(222,49,99,1) 25%, rgba(64,26,168,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal button{
	display: block;
    margin: 3px;
    padding: 3px;
    /* width: 100%; */
    color: var(--pink);
    background: linear-gradient(158deg, rgba(222,49,99,1) 25%, rgba(64,26,168,1) 100%);
    border-radius: 5px;
    border-style: none;
}
.modal button:hover{
    color: white;
    background-color: var(--red);
    border-style: ridge;
    border-color: var(--pink);
}

#check-out-price-div{
	margin: 2px;
    background: linear-gradient(14deg, #F0C808 40%, #edc6cf 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



